
-- 'Colors' table

DROP TABLE if exists T_COLORS;

CREATE TABLE `T_COLORS` (
  `DISPLAY_NAME` VARCHAR(50),
  `R` VARCHAR(10),
  `G` VARCHAR(10),
  `B` VARCHAR(10),
  `CODE` VARCHAR(10)
);

SET SQL_SAFE_UPDATES = 0;

DELETE FROM T_COLORS;

INSERT INTO T_COLORS (DISPLAY_NAME, R, G, B, CODE) VALUES ('Red Color', '255', '0', '0', 'RED');
INSERT INTO T_COLORS (DISPLAY_NAME, R, G, B, CODE) VALUES ('Blue Color', '0', '0', '255', 'BLUE');
INSERT INTO T_COLORS (DISPLAY_NAME, R, G, B, CODE) VALUES ('Green Color', '0', '255', '0', 'GREEN');

-- 'Small Case Alphabets' table

DROP TABLE if exists SMALL_CASE_ALPHABETS;

CREATE TABLE `SMALL_CASE_ALPHABETS` (
  `ALPHABET` VARCHAR(50),
  `ASCII_CODE` VARCHAR(10)
);


SET SQL_SAFE_UPDATES = 0;

DELETE FROM SMALL_CASE_ALPHABETS;

INSERT INTO SMALL_CASE_ALPHABETS (ALPHABET, ASCII_CODE) VALUES ('a', '097');
INSERT INTO SMALL_CASE_ALPHABETS (ALPHABET, ASCII_CODE) VALUES ('b', '098');
INSERT INTO SMALL_CASE_ALPHABETS (ALPHABET, ASCII_CODE) VALUES ('c', '099');

-- 'Capital Case Alphabets' table

DROP TABLE if exists CAPITAL_CASE_ALPHABETS;

CREATE TABLE `CAPITAL_CASE_ALPHABETS` (
  `ALPHABET` VARCHAR(50),
  `ASCII_CODE` VARCHAR(10)
);


SET SQL_SAFE_UPDATES = 0;

DELETE  FROM CAPITAL_CASE_ALPHABETS;

INSERT INTO CAPITAL_CASE_ALPHABETS (ALPHABET, ASCII_CODE) VALUES ('A', '065');
INSERT INTO CAPITAL_CASE_ALPHABETS (ALPHABET, ASCII_CODE) VALUES ('B', '066');
INSERT INTO CAPITAL_CASE_ALPHABETS (ALPHABET, ASCII_CODE) VALUES ('C', '067');


