  <!DOCTYPE HTML>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">

      <head>
          <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
          <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      
          <title>Book Directory</title>
      </head>

      <body>
      
          <div class="container">
      
              <h3>Book Directory</h3>
              <hr>
      
              <table class="table table-bordered table-striped">
                  <thead class="thead-dark">
                      <tr>
                          <th>Title</th>
                          <th>Author</th>
                          <th>Category</th>
                          <th>Action</th>
                      </tr>
                  </thead>
      
                  <tbody>
                      <tr th:each="tempBook : ${books}">
      
                          <td th:text="${tempBook.title}" />
                          <td th:text="${tempBook.author}" />
                          <td th:text="${tempBook.category}" />
      
                          <td>
                          </td>
      
      
                      </tr>
                  </tbody>
              </table>
      
          </div>
      
      </body>

  </html>  